#calc {
  width: 40vw;
  height: 80vh;
  transition: background-color 0.3s ease;

  @media (max-width: 690px) {
    width: 90vw;
    height: 95vh;
  }
}

#header {
  height: 10%;
  width: 100%;
  display: flex;
  color: var(--text-second);
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s ease;

  h1 {
    font-size: calc(1.8rem + 1vw);
  }

  #themes {
    width: auto;
    display: flex;
    font-size: 1rem;
    position: relative;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;

    span {
      font-size: calc(0.3rem + 1vw);
      margin-right: 0.5rem;
    }
  }

  .interactions {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & > * {
      width: 100%;
      display: flex;
      font-size: calc(0.3rem + 1vh);
      justify-content: space-around;
    }
    /* radio btns numbers */
    .labels {
      left: 0;
      top: -1rem;
      position: absolute;
    }
    /* Radio btns */
    .buttons {
      width: 4rem;
      height: 1.5rem;
      position: relative;
      padding: 0.5rem;
      border-radius: 2rem;
      background-color: var(--toggle-bg);
      transition: background-color 0.3s ease;

      /* effect change of theme */

      &::before,
      &::after {
        top: 50%;
        left: 20%;
        z-index: 1;
        content: "";
        width: 1rem;
        height: 1rem;
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        background-color: var(--key2-toggle-bg);
      }

      &::before {
        z-index: -1;
        background-color: transparent;
      }
    }

    .buttons input {
      opacity: 0;
      margin: 0 0.15rem;
      transform: scale(1.5);
      cursor: pointer;
      z-index: 10;
    }
  }
}

#main {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #display {
    width: 100%;
    height: 18%;
    border: none;
    outline: none;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    color: var(--text-second);
    background-color: var(--screen-bg);
    transition: background-color 0.3s ease, color 0.3s ease;

    .record,
    .memory {
      opacity: 0.75;
      font-size: 1rem;
      position: absolute;
    }

    .display {
      position: absolute;
      height: auto;
      top: 70%;
      right: 2%;
      width: 100%;
      margin: 0 auto;
      display: block;
      text-align: end;
      font-size: calc(2rem + 1vw);
      font-weight: bold;
      font-family: inherit;
      transform: translate(0%, -50%);
    }

    .memory {
      top: 70%;
      left: 1%;
    }

    .record {
      top: 5%;
      right: 1%;
    }
  }

  #keyboard {
    display: grid;
    height: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    justify-items: center;
    background-color: var(--keypad-bg);
    transition: color 0.3s ease;
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));

    .key {
      border: none;
      outline: none;
      padding: 0.5rem;
      font-size: calc(1rem + 1.2vw);
      height: 70%;
      width: 80%;
      text-align: center;
      font-weight: bold;
      font-family: inherit;
      border-radius: 0.5rem;
      color: var(--text-main);
      background-color: var(--key3-bg);
      box-shadow: 0px 6px 0px var(--key3-shadow);
      transition: background-color 0.3s ease, color 0.3s ease,
        transform 0.1s ease, box-shadow 0.15s ease, opacity 0.1s ease;

      &:hover {
        opacity: 0.75;
      }

      &:active {
        transform: scale(0.95);
        opacity: 0.75;
        box-shadow: 0px 2px 0px var(--key3-shadow);
      }

      &:hover.number,
      &:hover.operation,
      &:hover.dot {
        opacity: 1;
        color: var(--text-second);
        background-color: var(--key2-toggle-bg);
      }
    }

    .delete,
    .reset {
      font-size: calc(0.5rem + 1vw);
      color: var(--text-second);
      background-color: var(--key1-bg);
      box-shadow: 0px 4px 0px var(--key1-shadow);

      &:active {
        box-shadow: 0px 2px 0px var(--key1-shadow);
      }
    }

    .result {
      color: var(--text-second);
      background-color: var(--key2-bg);
      box-shadow: 0px 4px 0px var(--key2-shadow);
      &:active {
        box-shadow: 0px 2px 0px var(--key2-shadow);
      }
    }

    .reset,
    .result {
      width: 90%;
      grid-column: span 2;
    }
  }
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
  color: var(--key1-bg);
  transition: color 0.3s ease;

  a {
    color: var(--key2-bg);
    transition: color 0.3s ease;
  }
}

.theme1 {
  #header,
  #display > * {
    color: var(--text-second);
  }

  #themes .buttons::after {
    left: 20%;
    background-color: hsl(6, 63%, 50%);
  }

  #header .interactions .buttons::before {
    animation: themeCircleTheme1 2s forwards;
  }

  @keyframes themeCircleTheme1 {
    0% {
      width: 0vh;
      height: 0vh;
      background-color: hsl(221, 26%, 44%);
    }

    90% {
      width: 400vh;
      height: 400vh;
      background-color: hsl(222, 26%, 31%);
    }

    100% {
      background-color: transparent;
    }
  }
}

.theme2 {
  #header,
  #display > * {
    color: var(--text-main);
  }

  #themes .buttons::after {
    left: 50%;
    background-color: hsl(25, 98%, 40%);
  }

  #header .interactions .buttons::before {
    animation: themeCircleTheme2 2s forwards;
  }

  @keyframes themeCircleTheme2 {
    0% {
      width: 0vh;
      height: 0vh;
      background-color: hsl(0, 0%, 90%);
    }

    90% {
      width: 400vh;
      height: 400vh;
      background-color: hsl(0, 0%, 90%);
    }

    100% {
      background-color: transparent;
    }
  }
}

.theme3 {
  #header,
  #display > * {
    color: var(--text-main);
  }

  #themes .buttons::after {
    left: 79%;
    background-color: hsl(176, 100%, 44%);
  }

  #main #keyboard .delete,
  #main #keyboard .reset {
    color: var(--text-third);
  }

  #header .interactions .buttons::before {
    animation: themeCircleTheme3 2s forwards;
  }

  @keyframes themeCircleTheme3 {
    0% {
      width: 0;
      height: 0;
      background-color: hsl(268, 75%, 9%);
    }

    80% {
      width: 400vh;
      height: 400vh;
      background-color: hsl(268, 75%, 9%);
    }

    100% {
      background-color: transparent;
    }
  }
}
