#calc {
  width: 70vw;
  height: 70vh;
}

#header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.5rem;
    color: $text-white;
  }

  #themes {
    width: 30%;
    display: flex;
    font-size: 0.8rem;
    color: $text-white;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
  }

  .interactions {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & > * {
      width: 100%;
      display: flex;
      font-size: 0.6rem;
      justify-content: space-around;
    }

    .labels {
      left: 0;
      top: -0.8rem;
      position: absolute;
    }

    .buttons {
      width: 3rem;
      height: 1rem;
      position: relative;
      border-radius: 2rem;
      background-color: #333;
    }

    .buttons::before {
      left: 20%;
      top: 0.5rem;
      content: "";
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      position: absolute;
      background-color: $key-red-bg;
      transform: translate(-50%, -50%);
    }

    .buttons input {
      opacity: 0;
      cursor: pointer;
    }
  }
}

#main {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #display {
    width: 100%;
    height: 15%;
    border: none;
    outline: none;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    background-color: white;

    .record,
    .memory {
      opacity: 0.75;
      font-size: 1rem;
      color: $key-ligth-bg;
      position: absolute;
    }

    .display {
      height: 100%;
      display: block;
      text-align: end;
      font-size: 2rem;
      padding: 1.8rem 1rem;
      font-weight: bold;
      color: $text-white;
      font-family: inherit;
      background-color: $screen-bg;
    }

    .memory {
      top: 70%;
      left: 1%;
    }

    .record {
      top: 5%;
      right: 1%;
    }
  }

  #keyboard {
    display: grid;
    gap: 0 3vw;
    height: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $second-bg;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));

    .key {
      border: none;
      outline: none;
      padding: 0.5rem;
      font-size: 1.5rem;
      height: 60%;
      width: 100%;
      color: $text-main;
      text-align: center;
      font-weight: bold;
      font-family: inherit;
      border-radius: 0.5rem;
      background-color: $key-ligth-bg;
      box-shadow: 0px 4px 0px $key-light-shadow;

      &:active {
        transform: scale(0.97);
        box-shadow: 0px 2px 0px $key-light-shadow;
      }
    }

    .delete,
    .reset {
      color: $text-white;
      font-size: 1rem;
      background-color: $key-bg;
      box-shadow: 0px 4px 0px $key-shadow;

      &:active {
        box-shadow: 0px 2px 0px $key-shadow;
      }
    }

    .result {
      color: $text-white;
      background-color: $key-red-bg;
      box-shadow: 0px 4px 0px $key-red-shadow;

      &:active {
        box-shadow: 0px 2px 0px $key-red-shadow;
      }
    }

    .reset,
    .result {
      grid-column: span 2;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
