@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
/* theme1 */
/* $main-bg: hsl(222, 26%, 31%); */
/* $second-bg: hsl(223, 31%, 20%);
$screen-bg: hsl(224, 36%, 15%);
$key-bg: hsl(225, 21%, 49%);
$key-shadow: hsl(224, 28%, 35%);
$key-red-bg: hsl(6, 63%, 50%);
$key-red-shadow: hsl(6, 70%, 34%);
$key-ligth-bg: hsl(30, 25%, 89%);
$key-light-shadow: hsl(28, 16%, 65%);
$text-main: hsl(221, 14%, 31%);
$text-white: hsl(0, 0, 100%); */
/* theme2 */
:root {
  --main-bg: hsl(223, 31%, 20%);
  --second-bg: hsl(224, 36%, 15%);
  --screen-bg: hsl(224, 36%, 15%);
  --key-bg: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --key-red-bg: hsl(6, 63%, 50%);
  --key-red-shadow: hsl(6, 70%, 34%);
  --key-ligth-bg: hsl(30, 25%, 89%);
  --key-light-shadow: hsl(28, 16%, 65%);
  --text-main: hsl(221, 14%, 31%);
  --text-white: hsl(0, 0%, 100%);
}

html {
  position: relative;
  font-family: "Spartan", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg);
  transition: background-color 0.3s ease;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#calc {
  width: 70vw;
  height: 70vh;
}

#header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-white);
  justify-content: space-between;
}
#header h1 {
  font-size: 1.5rem;
}
#header #themes {
  position: relative;
  width: 30%;
  display: flex;
  font-size: 0.8rem;
  color: var(--text-white);
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}
#header #themes::before {
  right: 5%;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  transition: all 2s ease;
  background-color: var(--text-white);
  z-index: -1;
}
#header .interactions {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#header .interactions > * {
  width: 100%;
  display: flex;
  font-size: 0.6rem;
  justify-content: space-around;
}
#header .interactions .labels {
  left: 0;
  top: -0.8rem;
  position: absolute;
}
#header .interactions .buttons {
  width: 3rem;
  height: 1rem;
  position: relative;
  border-radius: 2rem;
  background-color: var(--screen-bg);
}
#header .interactions .buttons::before {
  left: 20%;
  top: 0.5rem;
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--key-red-bg);
  transform: translate(-50%, -50%);
  z-index: 1;
}
#header .interactions .buttons input {
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

#main {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main #display {
  width: 100%;
  height: 15%;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  background-color: var(--text-white);
}
#main #display .record,
#main #display .memory {
  opacity: 0.75;
  font-size: 1rem;
  color: var(--key-ligth-bg);
  position: absolute;
}
#main #display .display {
  height: 100%;
  display: block;
  text-align: end;
  font-size: 2rem;
  padding: 1.8rem 1rem;
  font-weight: bold;
  color: var(--text-white);
  font-family: inherit;
  background-color: var(--screen-bg);
}
#main #display .memory {
  top: 70%;
  left: 1%;
}
#main #display .record {
  top: 5%;
  right: 1%;
}
#main #keyboard {
  display: grid;
  gap: 0 3vw;
  height: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--second-bg);
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}
#main #keyboard .key {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 60%;
  width: 100%;
  color: var(--text-main);
  text-align: center;
  font-weight: bold;
  font-family: inherit;
  border-radius: 0.5rem;
  background-color: var(--key-ligth-bg);
  box-shadow: 0px 4px 0px var(--key-light-shadow);
}
#main #keyboard .key:active {
  transform: scale(0.97);
  box-shadow: 0px 2px 0px var(--key-light-shadow);
}
#main #keyboard .delete,
#main #keyboard .reset {
  color: var(--text-white);
  font-size: 1rem;
  background-color: var(--key-bg);
  box-shadow: 0px 4px 0px var(--key-shadow);
}
#main #keyboard .delete:active,
#main #keyboard .reset:active {
  box-shadow: 0px 2px 0px var(--key-shadow);
}
#main #keyboard .result {
  color: var(--text-white);
  background-color: var(--key-red-bg);
  box-shadow: 0px 4px 0px var(--key-red-shadow);
}
#main #keyboard .result:active {
  box-shadow: 0px 2px 0px var(--key-red-shadow);
}
#main #keyboard .reset,
#main #keyboard .result {
  grid-column: span 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

.theme2 {
  /* backgrounds */
  --main-bg: hsl(0, 0%, 90%);
  --second-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 1%, 81%);
  /* keys */
  --key-bg: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --key-red-bg: hsl(25, 98%, 40%);
  --key-red-shadow: hsl(25, 99%, 27%);
  --key-ligth-bg: hsl(45, 7%, 89%);
  --key-light-shadow: hsl(35, 11%, 61%);
  /* text */
  --text-main: hsl(60, 10%, 19%);
  --text-white: hsl(0, 0%, 10%);
}

.theme3 {
  /* backgrounds */
  --main-bg: hsl(268, 75%, 9%);
  --second-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);
  /* keys */
  --key-bg: hsl(281, 89%, 26%);
  --key-shadow: hsl(285, 91%, 52%);
  --key-red-bg: hsl(176, 100%, 44%);
  --key-red-shadow: hsl(177, 92%, 70%);
  --key-ligth-bg: hsl(268, 47%, 21%);
  --key-light-shadow: hsl(290, 70%, 36%);
  /* text */
  --text-main: hsl(52, 100%, 62%);
  --text-white: hsl(52, 100%, 62%);
}

/*# sourceMappingURL=main.css.map */
