@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
/* Background */
/* Keys */
/* Text */
html {
  font-family: "Spartan", sans-serif;
  font-size: 16px;
  background-color: #3a4764;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#calc {
  width: 70vw;
  height: 70vh;
}

#header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header h1 {
  font-size: 1.5rem;
  color: white;
}
#header #themes {
  width: 30%;
  display: flex;
  font-size: 0.8rem;
  color: white;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}
#header .interactions {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#header .interactions > * {
  width: 100%;
  display: flex;
  font-size: 0.6rem;
  justify-content: space-around;
}
#header .interactions .labels {
  left: 0;
  top: -0.8rem;
  position: absolute;
}
#header .interactions .buttons {
  width: 3rem;
  height: 1rem;
  position: relative;
  border-radius: 2rem;
  background-color: #333;
}
#header .interactions .buttons::before {
  left: 20%;
  top: 0.5rem;
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  position: absolute;
  background-color: #d03f2f;
  transform: translate(-50%, -50%);
}
#header .interactions .buttons input {
  opacity: 0;
  cursor: pointer;
}

#main {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main #display {
  width: 100%;
  height: 15%;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  background-color: white;
}
#main #display .record,
#main #display .memory {
  opacity: 0.75;
  font-size: 1rem;
  color: #eae3dc;
  position: absolute;
}
#main #display .display {
  height: 100%;
  display: block;
  text-align: end;
  font-size: 2rem;
  padding: 1.8rem 1rem;
  font-weight: bold;
  color: white;
  font-family: inherit;
  background-color: #182034;
}
#main #display .memory {
  top: 70%;
  left: 1%;
}
#main #display .record {
  top: 5%;
  right: 1%;
}
#main #keyboard {
  display: grid;
  gap: 0 3vw;
  height: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #232c43;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}
#main #keyboard .key {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 60%;
  width: 100%;
  color: #444b5a;
  text-align: center;
  font-weight: bold;
  font-family: inherit;
  border-radius: 0.5rem;
  background-color: #eae3dc;
  box-shadow: 0px 4px 0px #b4a597;
}
#main #keyboard .key:active {
  transform: scale(0.97);
  box-shadow: 0px 2px 0px #b4a597;
}
#main #keyboard .delete,
#main #keyboard .reset {
  color: white;
  font-size: 1rem;
  background-color: #637097;
  box-shadow: 0px 4px 0px #404e72;
}
#main #keyboard .delete:active,
#main #keyboard .reset:active {
  box-shadow: 0px 2px 0px #404e72;
}
#main #keyboard .result {
  color: white;
  background-color: #d03f2f;
  box-shadow: 0px 4px 0px #93261a;
}
#main #keyboard .result:active {
  box-shadow: 0px 2px 0px #93261a;
}
#main #keyboard .reset,
#main #keyboard .result {
  grid-column: span 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=main.css.map */
