@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
.theme1 {
  animation: changeColorsTheme1 1s ease-out forwards;
}
@keyframes changeColorsTheme1 {
  100% {
    --main-bg: hsl(222, 26%, 31%);
    --toggle-bg: hsl(223, 31%, 20%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --key1-bg: hsl(225, 21%, 49%);
    --key1-shadow: hsl(224, 28%, 35%);
    --key2-bg: hsl(6, 63%, 50%);
    --key2-toggle-bg: hsl(6, 63%, 50%);
    --key2-shadow: hsl(6, 70%, 34%);
    --key3-bg: hsl(30, 25%, 89%);
    --key3-shadow: hsl(28, 16%, 65%);
    --text-main: hsl(221, 14%, 31%);
    --text-second: hsl(0, 0%, 100%);
    --text-third: hsl(0, 0%, 100%);
  }
}

.theme2 {
  animation: changeColorsTheme2 1s ease-out forwards;
}
@keyframes changeColorsTheme2 {
  100% {
    --main-bg: hsl(0, 0%, 90%);
    --toggle-bg: hsl(0, 5%, 81%);
    --keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --key1-bg: hsl(185, 42%, 37%);
    --key1-shadow: hsl(185, 58%, 25%);
    --key2-bg: hsl(25, 98%, 40%);
    --key2-toggle-bg: hsl(25, 98%, 40%);
    --key2-shadow: hsl(25, 99%, 27%);
    --key3-bg: hsl(45, 7%, 89%);
    --key3-shadow: hsl(35, 11%, 61%);
    --text-main: hsl(60, 10%, 19%);
    --text-second: hsl(0, 0%, 100%);
    --text-third: hsl(0, 0%, 100%);
  }
}

.theme3 {
  animation: changeColorsTheme3 1s ease-out forwards;
}
@keyframes changeColorsTheme3 {
  100% {
    --main-bg: hsl(268, 75%, 9%);
    --toggle-bg: hsl(268, 71%, 12%);
    --keypad-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --key1-bg: hsl(281, 89%, 26%);
    --key1-shadow: hsl(285, 91%, 52%);
    --key2-bg: hsl(176, 91%, 52%);
    --key2-toggle-bg: hsl(176, 100%, 44%);
    --key2-shadow: hsl(177, 92%, 70%);
    --key3-bg: hsl(268, 47%, 21%);
    --key3-shadow: hsl(290, 70%, 36%);
    --text-main: hsl(52, 100%, 62%);
    --text-second: hsl(198, 20%, 13%);
    --text-third: hsl(0, 0%, 100%);
  }
}

html {
  position: relative;
  font-family: "Spartan", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
  background-color: var(--main-bg);
  /* transition: background-color 3s ease; */
  transition-delay: 1s;
  transition-property: background-color;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#calc {
  width: 40vw;
  height: 80vh;
  transition: background-color 0.3s ease;
}
@media (max-width: 690px) {
  #calc {
    width: 90vw;
    height: 95vh;
  }
}

#header {
  height: 10%;
  width: 100%;
  display: flex;
  color: var(--text-second);
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s ease;
}
#header h1 {
  font-size: calc(1.8rem + 1vw);
}
#header #themes {
  width: auto;
  display: flex;
  font-size: 1rem;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}
#header #themes span {
  font-size: calc(0.3rem + 1vw);
  margin-right: 0.5rem;
}
#header .interactions {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* radio btns numbers */
  /* Radio btns */
}
#header .interactions > * {
  width: 100%;
  display: flex;
  font-size: calc(0.3rem + 1vh);
  justify-content: space-around;
}
#header .interactions .labels {
  left: 0;
  top: -0.8rem;
  position: absolute;
}
#header .interactions .buttons {
  width: 3rem;
  height: 1.2rem;
  position: relative;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: var(--toggle-bg);
  transition: background-color 0.3s ease;
  /* effect change of theme */
}
#header .interactions .buttons::before, #header .interactions .buttons::after {
  top: 50%;
  left: 20%;
  z-index: 1;
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  background-color: var(--key2-toggle-bg);
}
#header .interactions .buttons::before {
  z-index: -1;
  background-color: transparent;
}
#header .interactions .buttons input {
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

#main {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main #display {
  width: 100%;
  height: 18%;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  color: var(--text-second);
  background-color: var(--screen-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
}
#main #display .record,
#main #display .memory {
  opacity: 0.75;
  font-size: 1rem;
  position: absolute;
}
#main #display .display {
  position: absolute;
  height: auto;
  top: 70%;
  right: 2%;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: end;
  font-size: calc(2rem + 1vw);
  font-weight: bold;
  font-family: inherit;
  transform: translate(0%, -50%);
}
#main #display .memory {
  top: 70%;
  left: 1%;
}
#main #display .record {
  top: 5%;
  right: 1%;
}
#main #keyboard {
  display: grid;
  height: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  justify-items: center;
  background-color: var(--keypad-bg);
  transition: color 0.3s ease;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
}
#main #keyboard .key {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: calc(1rem + 1.2vw);
  height: 70%;
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-family: inherit;
  border-radius: 0.5rem;
  color: var(--text-main);
  background-color: var(--key3-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px 4px 0px var(--key3-shadow);
}
#main #keyboard .key:active {
  transform: scale(0.97);
  box-shadow: 0px 2px 0px var(--key3-shadow);
}
#main #keyboard .delete,
#main #keyboard .reset {
  font-size: calc(0.5rem + 1vw);
  color: var(--text-second);
  background-color: var(--key1-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px 4px 0px var(--key1-shadow);
}
#main #keyboard .delete:active,
#main #keyboard .reset:active {
  box-shadow: 0px 2px 0px var(--key1-shadow);
}
#main #keyboard .result {
  color: var(--text-second);
  background-color: var(--key2-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px 4px 0px var(--key2-shadow);
}
#main #keyboard .result:active {
  box-shadow: 0px 2px 0px var(--key2-shadow);
}
#main #keyboard .reset,
#main #keyboard .result {
  width: 90%;
  grid-column: span 2;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
  color: var(--key1-bg);
  transition: color 0.3s ease;
}
.attribution a {
  color: var(--key2-bg);
  transition: color 0.3s ease;
}

.theme1 #header,
.theme1 #display > * {
  color: var(--text-second);
}
.theme1 #themes .buttons::after {
  left: 20%;
  background-color: #d03f2f;
}
.theme1 #header .interactions .buttons::before {
  animation: themeCircleTheme1 2s forwards;
}
@keyframes themeCircleTheme1 {
  0% {
    width: 0vh;
    height: 0vh;
    background-color: #53668d;
  }
  90% {
    width: 400vh;
    height: 400vh;
    background-color: #3a4764;
  }
  100% {
    background-color: transparent;
  }
}

.theme2 #header,
.theme2 #display > * {
  color: var(--text-main);
}
.theme2 #themes .buttons::after {
  left: 50%;
  background-color: #ca5502;
}
.theme2 #header .interactions .buttons::before {
  animation: themeCircleTheme2 2s forwards;
}
@keyframes themeCircleTheme2 {
  0% {
    width: 0vh;
    height: 0vh;
    background-color: #e6e6e6;
  }
  90% {
    width: 400vh;
    height: 400vh;
    background-color: #e6e6e6;
  }
  100% {
    background-color: transparent;
  }
}

.theme3 #header,
.theme3 #display > * {
  color: var(--text-main);
}
.theme3 #themes .buttons::after {
  left: 79%;
  background-color: #00e0d1;
}
.theme3 #main #keyboard .delete,
.theme3 #main #keyboard .reset {
  color: var(--text-third);
}
.theme3 #header .interactions .buttons::before {
  animation: themeCircleTheme3 2s forwards;
}
@keyframes themeCircleTheme3 {
  0% {
    width: 0;
    height: 0;
    background-color: #160628;
  }
  80% {
    width: 400vh;
    height: 400vh;
    background-color: #160628;
  }
  100% {
    background-color: transparent;
  }
}

/*# sourceMappingURL=main.css.map */
